# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [6]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [7]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     12
1  banana  medium      6
2  orange     low     12
3   apple    high      7
4  banana  medium      6
5  orange     low     12
6   apple    high      7
7  banana  medium      9
8  orange     low      9
    fruit weight  price
0   apple   high      3
1  orange    low     11
2    pine   high      8
3   apple    low      3
4  orange   high      5
5    pine    low     14

In [8]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       12     high        3
1    apple     high       12      low        3
2    apple     high        7     high        3
3    apple     high        7      low        3
4    apple     high        7     high        3
5    apple     high        7      low        3
6   orange      low       12      low       11
7   orange      low       12     high        5
8   orange      low       12      low       11
9   orange      low       12     high        5
10  orange      low        9      low       11
11  orange      low        9     high        5

In [9]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [10]:
#Join Type Defaults to 'inner' (only keeps matching indices)

In [11]:
pd.merge(df1, df2, on='fruit',how='outer')

     fruit weight_x  price_x weight_y  price_y
0    apple     high     12.0     high      3.0
1    apple     high     12.0      low      3.0
2    apple     high      7.0     high      3.0
3    apple     high      7.0      low      3.0
4    apple     high      7.0     high      3.0
5    apple     high      7.0      low      3.0
6   banana   medium      6.0      NaN      NaN
7   banana   medium      6.0      NaN      NaN
8   banana   medium      9.0      NaN      NaN
9   orange      low     12.0      low     11.0
10  orange      low     12.0     high      5.0
11  orange      low     12.0      low     11.0
12  orange      low     12.0     high      5.0
13  orange      low      9.0      low     11.0
14  orange      low      9.0     high      5.0
15    pine      NaN      NaN     high      8.0
16    pine      NaN      NaN      low     14.0

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [12]:
#If join with same column names, there will be an error

In [13]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         12     apple       high        3.0
1    banana     medium          6    orange        low       11.0
2    orange        low         12      pine       high        8.0
3     apple       high          7     apple        low        3.0
4    banana     medium          6    orange       high        5.0
5    orange        low         12      pine        low       14.0
6     apple       high          7       NaN        NaN        NaN
7    banana     medium          9       NaN        NaN        NaN
8    orange        low          9       NaN        NaN        NaN